.footer {
  background-color: #fff;
  color: var(--color-primary);
  padding: 0 1rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  padding: 5.25rem 0 3.75rem 0;
}

.footer .logo-studion {
  justify-self: start;
  margin: 0;
  height: 80%;
  width: 50%;
}

.footer__form {
  display: grid;
  place-items: center;
  grid-template-columns: 5.625rem auto;
  gap: 1.23rem;
}

.footer__form label {
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
}

.footer__email {
  display: grid;
  grid-template-columns: auto 3.375rem;
  width: 100%;
}

.footer__form input {
  background-color: var(--color-primary);
  border: unset;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
}

.footer__form input::placeholder {
  color: var(--color-secondary);
}

.footer__form input:focus {
  outline: unset;
}

.footer__form button {
  color: var(--color-primary);
  cursor: pointer;
  border: unset;
  height: 100%;
  transition: 0.3s all ease;
}

.footer__form button:hover {
  color: var(--color-secondary);
  background-color: var(--color-copy--alt);
}

.footer__social {
  justify-self: end;
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
  color: var(--color-primary);
  margin-left: 0.3rem;
}

.footer__social a .fa-twitter,
.footer__social a:visited .fa-twitter,
.footer__social a:active .fa-twitter {
  color: #fff;
}

.footer hr {
  border-color: #fff5;
  margin: 0;
}

.footer p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 2.5rem 0;
}
