.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgb(255, 255, 255, .2);
}

.navbar__container {
  display: flex;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 4.75rem;
  padding: 0 1rem;
}

.navbar .logo-studion {
height: 80%;
width: 80%;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  font-size: 0.875rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.navbar__links a {
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}

.navbar__links a:active {
  color: var(--color-secondary);
}

.navbar__links a:hover {
  color: var(--color-secondary);
}


.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #6F6968;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 7px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #F4843B 0%, #7A142B 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 15px 35px 15px 15px;
}

